<h1>About</h1>
<p>Blocitoff! is an application that allows users to create self-destructing to-
  do lists.</p>

<h1>Use Case</h1>
<p>To-o lists are notorious for collecting junk: to-do items that you want to re
  member, but are not very important and thus get consistently put-off. To addre
  ss the problem of to-do list clutter, you will create Blocitoff.</p>
<p>Blocitoff will aim to keep to-do lists manageable by automatically deleting t
  o-do items that have not been completed after seven days. The hypothesis is th
  at if the to-do item is not important enough to be completed in seven days, it
   doesn't belong on your to-do list.</p>

<h1>Created By</h1>
<p>Amin</p>

<h1>Social/Contac Us</h1>
<p>Button</p>
